In [1]:
import pymongo
import pandas as pd

In [2]:
# conn = 'mongodb://yuhsul1:password2@ds123444.mlab.com:23444/heroku_3t530jfl'
conn = 'mongodb://test:password1@ds123444.mlab.com:23444/heroku_3t530jfl'
client = pymongo.MongoClient(conn)

db = client.heroku_3t530jfl
wine_collections = db.wine_db.find()
df = pd.DataFrame(list(wine_collections))

In [3]:
df.head()

,_id,brand_name,food_pairing,grape_type,lower_alcohol,price,review,upper_alcohol,wine_type
0,5c08a3a84fe110092c72eb17,Yalumba Antique Reserve Tawny Port,Chocolate and Caramel,Port,19,19.99,92,19,Dessert
1,5c08a3a84fe110092c72eb18,Taylor Fladgate 10 Year Old Tawny,Chocolate and Caramel,Port,20,29.99,93,20,Dessert
2,5c08a3a84fe110092c72eb19,Yalumba Museum Reserve Muscat,Chilis and Hot Spicy Foods,Other Dessert,18,18.99,94,18,Dessert
3,5c08a3a94fe110092c72eb1a,Taylor Fladgate 20 Year Old Tawny,Chocolate and Caramel,Port,19,51.99,95,20,Dessert
4,5c08a3a94fe110092c72eb1b,Quinta do Noval Noval Black,Chocolate and Caramel,Port,19,17.99,91,20,Dessert

In [4]:
client_price = int(input("What is your budget?"))

What is your budget?200

In [5]:
sorted_wine = df.sort_values(by="review", ascending=False)
sorted_wine.reset_index(inplace=True, drop=True)
sorted_wine.head()

,_id,brand_name,food_pairing,grape_type,lower_alcohol,price,review,upper_alcohol,wine_type
0,5c08a3ae4fe110092c72eb57,Chateau Ducru Beaucaillou,Beef and Venison,Bordeaux,12,339.00,100,13,Red
1,5c08a3b24fe110092c72eb8a,Chateau Montrose,Beef and Venison,Bordeaux,12,269.00,100,14,Red
2,5c08a3b54fe110092c72ebaa,Joseph Phelps Insignia,Beef and Venison,Cabernet Sauvignon,13,199.99,100,15,Red
3,5c08a3b54fe110092c72ebab,Joseph Phelps Insignia,Beef and Venison,Cabernet Sauvignon,13,109.00,100,15,Red
4,5c08a3b14fe110092c72eb78,Valdicava Brunello di Montalcino,Beef and Venison,Sangiovese,13,239.00,99,14,Red

In [6]:
filtered_data = sorted_wine.loc[sorted_wine["price"]<=client_price]
top_100 = filtered_data[:100]
top_100.head()

,_id,brand_name,food_pairing,grape_type,lower_alcohol,price,review,upper_alcohol,wine_type
2,5c08a3b54fe110092c72ebaa,Joseph Phelps Insignia,Beef and Venison,Cabernet Sauvignon,13,199.99,100,15,Red
3,5c08a3b54fe110092c72ebab,Joseph Phelps Insignia,Beef and Venison,Cabernet Sauvignon,13,109.00,100,15,Red
5,5c08a3b24fe110092c72eb86,Clarendon Hills Astralis Syrah,Beef and Venison,Syrah/Shiraz,13,149.00,99,14,Red
6,5c08a3ae4fe110092c72eb5e,Chateau Rauzan Segla,Beef and Venison,Bordeaux,12,145.00,98,14,Red
7,5c08a3af4fe110092c72eb6b,Bibi Graetz Testamatta,Beef and Venison,Sangiovese,12,99.99,98,14,Red

In [8]:
wine_name = list(top_100["brand_name"])
grape_type = list(top_100["grape_type"])
price = list(top_100["price"])
review = list(top_100["review"])

data = []
i=0

while i < len(wine_name):
    wine_info = {
                "wine_name": wine_name[i],
                "grape_type": grape_type[i],
                "price": price[i],
                "review": review[i]
                }
    data.append(wine_info)
    i +=1

In [9]:
print(data)

[{'wine_name': 'Joseph Phelps Insignia', 'grape_type': 'Cabernet Sauvignon', 'price': 199.99, 'review': 100}, {'wine_name': 'Joseph Phelps Insignia ', 'grape_type': 'Cabernet Sauvignon', 'price': 109.0, 'review': 100}, {'wine_name': 'Clarendon Hills Astralis Syrah', 'grape_type': 'Syrah/Shiraz', 'price': 149.0, 'review': 99}, {'wine_name': 'Chateau Rauzan Segla', 'grape_type': 'Bordeaux', 'price': 145.0, 'review': 98}, {'wine_name': 'Bibi Graetz Testamatta', 'grape_type': 'Sangiovese', 'price': 99.99, 'review': 98}, {'wine_name': 'Chateau Lynch-Bages', 'grape_type': 'Bordeaux', 'price': 189.0, 'review': 98}, {'wine_name': 'Faustino I Gran Reserva', 'grape_type': 'Tempranillo', 'price': 37.99, 'review': 98}, {'wine_name': 'Dom Perignon Limited Edition Metamorphosis in Gift Box', 'grape_type': 'Vintage Sparkling Wine', 'price': 195.0, 'review': 98}, {'wine_name': 'Tenuta Sette Ponti Oreno', 'grape_type': 'Other Red Blends', 'price': 64.99, 'review': 97}, {'wine_name': 'Domaine de Chevalier', 'grape_type': 'Bordeaux', 'price': 89.99, 'review': 97}, {'wine_name': 'Lapostolle Clos Apalta', 'grape_type': 'Bordeaux', 'price': 89.99, 'review': 97}, {'wine_name': 'Laurent-Perrier Grand Siecle', 'grape_type': 'Non-Vintage Sparkling Wine', 'price': 134.99, 'review': 97}, {'wine_name': 'Escarpment Pahi Pinot Noir', 'grape_type': 'Pinot Noir', 'price': 59.99, 'review': 97}, {'wine_name': 'Philip Togni Cabernet Sauvignon', 'grape_type': 'Cabernet Sauvignon', 'price': 109.0, 'review': 97}, {'wine_name': 'Chateau Doisy Vedrines Sauternes ', 'grape_type': 'Other Dessert', 'price': 24.99, 'review': 97}, {'wine_name': 'La Serena Brunello di Montalcino', 'grape_type': 'Sangiovese', 'price': 51.99, 'review': 97}, {'wine_name': 'Chateau Beausejour Duffau', 'grape_type': 'Bordeaux', 'price': 97.99, 'review': 96}, {'wine_name': 'Robert Oatley Finisterre Cabernet Sauvignon', 'grape_type': 'Cabernet Sauvignon', 'price': 29.99, 'review': 96}, {'wine_name': 'Domenico Clerico Barolo Ciabot Mentin Ginestra', 'grape_type': 'Nebbiolo', 'price': 69.99, 'review': 96}, {'wine_name': 'Wynns Coonawarra Estate Black Label Cabernet Sauvignon', 'grape_type': 'Cabernet Sauvignon', 'price': 34.99, 'review': 96}, {'wine_name': 'John Duval Entity Shiraz', 'grape_type': 'Syrah/Shiraz', 'price': 32.99, 'review': 96}, {'wine_name': 'Chateau Pontet-Canet', 'grape_type': 'Bordeaux', 'price': 129.0, 'review': 96}, {'wine_name': 'Marchesi di Barolo Barolo Cannubi', 'grape_type': 'Nebbiolo', 'price': 89.0, 'review': 96}, {'wine_name': 'Emilio Lustau East India Solera', 'grape_type': 'Sherry', 'price': 27.99, 'review': 96}, {'wine_name': 'Il Poggione Brunello di Montalcino Riserva', 'grape_type': 'Sangiovese', 'price': 99.0, 'review': 96}, {'wine_name': 'Alvear Pedro Ximinez 1927 ', 'grape_type': 'Sherry', 'price': 25.99, 'review': 96}, {'wine_name': 'Caparzo Brunello di Montalcino Riserva', 'grape_type': 'Sangiovese', 'price': 78.99, 'review': 96}, {'wine_name': 'Robert Oatley Finisterre Chardonnay', 'grape_type': 'Chardonnay', 'price': 25.99, 'review': 96}, {'wine_name': 'Marques de Murrieta Castillo Ygay Gran Reserva', 'grape_type': 'Other Red Blends', 'price': 78.99, 'review': 96}, {'wine_name': 'Clos du Marquis', 'grape_type': 'Bordeaux', 'price': 59.99, 'review': 96}, {'wine_name': 'Greywacke Pinot Noir Marlborough', 'grape_type': 'Pinot Noir', 'price': 38.99, 'review': 96}, {'wine_name': 'Chateau Rieussec Sauternes', 'grape_type': 'Other Dessert', 'price': 59.99, 'review': 96}, {'wine_name': 'Chateau Monbousquet', 'grape_type': 'Bordeaux', 'price': 59.99, 'review': 95}, {'wine_name': 'Veuve Clicquot La Grande Dame', 'grape_type': 'Vintage Sparkling Wine', 'price': 149.99, 'review': 95}, {'wine_name': 'Felsina Chianti Classico Riserva Rancia ', 'grape_type': 'Sangiovese', 'price': 23.99, 'review': 95}, {'wine_name': 'Grgich Hills Merlot', 'grape_type': 'Merlot', 'price': 39.99, 'review': 95}, {'wine_name': 'Vieille Julienne Chateauneuf-du-Pape', 'grape_type': 'Rhone Red Blends', 'price': 59.99, 'review': 95}, {'wine_name': 'Escarpment Kiwa Pinot Noir', 'grape_type': 'Pinot Noir', 'price': 57.99, 'review': 95}, {'wine_name': 'Antinori Guado al Tasso', 'grape_type': 'Other Red Blends', 'price': 99.0, 'review': 95}, {'wine_name': 'Gianni Brunelli Brunello di Montalcino', 'grape_type': 'Sangiovese', 'price': 59.99, 'review': 95}, {'wine_name': 'Caparzo Brunello di Montalcino', 'grape_type': 'Sangiovese', 'price': 36.99, 'review': 95}, {'wine_name': 'Antinori Tignanello', 'grape_type': 'Sangiovese', 'price': 99.0, 'review': 95}, {'wine_name': 'Chateau Olivier', 'grape_type': 'Bordeaux', 'price': 39.99, 'review': 95}, {'wine_name': 'Joseph Jewell Russian River Valley Pinot Noir', 'grape_type': 'Pinot Noir', 'price': 33.99, 'review': 95}, {'wine_name': 'La Jota Howell Mountain Cabernet Sauvignon', 'grape_type': 'Cabernet Sauvignon', 'price': 79.99, 'review': 95}, {'wine_name': 'Pyramid Valley Lions Tooth Chardonnay', 'grape_type': 'Chardonnay', 'price': 71.99, 'review': 95}, {'wine_name': 'Emmolo Merlot', 'grape_type': 'Merlot', 'price': 59.99, 'review': 95}, {'wine_name': 'Pewsey Vale Eden Valley Riesling 2014', 'grape_type': 'Riesling', 'price': 16.99, 'review': 95}, {'wine_name': 'Les Hauts de Smith Blanc', 'grape_type': 'Sauvignon Blanc', 'price': 28.99, 'review': 95}, {'wine_name': "Trinchero Cloud's Nest Vineyard Cabernet Sauvignon", 'grape_type': 'Cabernet Sauvignon', 'price': 59.99, 'review': 95}, {'wine_name': 'Pio Cesare Barolo', 'grape_type': 'Nebbiolo', 'price': 59.99, 'review': 95}, {'wine_name': 'Taylor Fladgate 20 Year Old Tawny', 'grape_type': 'Port', 'price': 51.99, 'review': 95}, {'wine_name': 'Raymond Generations Cabernet Sauvignon', 'grape_type': 'Cabernet Sauvignon', 'price': 109.0, 'review': 95}, {'wine_name': 'Masi Costasera Amarone Classico', 'grape_type': 'Other Red Wine', 'price': 49.99, 'review': 95}, {'wine_name': 'Felsina Fontalloro ', 'grape_type': 'Sangiovese', 'price': 28.99, 'review': 95}, {'wine_name': 'Antucura Cabernet Sauvignon', 'grape_type': 'Cabernet Sauvignon', 'price': 14.99, 'review': 95}, {'wine_name': 'Chateau Pape Clement ', 'grape_type': 'Bordeaux', 'price': 79.99, 'review': 95}, {'wine_name': 'Brancaia Tre', 'grape_type': 'Other Red Blends', 'price': 17.99, 'review': 95}, {'wine_name': 'Fattorie Melini Chianti Classico Riserva La Selvanella', 'grape_type': 'Sangiovese', 'price': 28.99, 'review': 95}, {'wine_name': 'Chateau Larcis-Ducasse', 'grape_type': 'Bordeaux', 'price': 64.99, 'review': 95}, {'wine_name': 'Bodegas Muriel Reserva', 'grape_type': 'Tempranillo', 'price': 16.99, 'review': 95}, {'wine_name': 'Chateau Gracia', 'grape_type': 'Bordeaux', 'price': 129.0, 'review': 95}, {'wine_name': 'Bodegas Muga Gran Reserva Prado Enea', 'grape_type': 'Tempranillo', 'price': 54.99, 'review': 95}, {'wine_name': 'Chateau Leoville Barton', 'grape_type': 'Bordeaux', 'price': 77.99, 'review': 95}, {'wine_name': 'Two Hands Sexy Beast Cabernet Sauvignon', 'grape_type': 'Cabernet Sauvignon', 'price': 33.99, 'review': 95}, {'wine_name': "Heartland Director's Cut Cabernet Sauvignon", 'grape_type': 'Cabernet Sauvignon', 'price': 33.99, 'review': 95}, {'wine_name': 'Duckhorn Three Palms Merlot', 'grape_type': 'Merlot', 'price': 89.0, 'review': 95}, {'wine_name': 'Pyramid Valley Angel Flower Pinot Noir', 'grape_type': 'Pinot Noir', 'price': 71.99, 'review': 95}, {'wine_name': 'Felsina Chianti Classico Riserva Rancia', 'grape_type': 'Sangiovese', 'price': 48.99, 'review': 95}, {'wine_name': 'DAOU Vineyards Reserve Cabernet Sauvignon', 'grape_type': 'Cabernet Sauvignon', 'price': 57.99, 'review': 95}, {'wine_name': "Two Hands Bella's Garden Shiraz", 'grape_type': 'Syrah/Shiraz', 'price': 69.99, 'review': 95}, {'wine_name': 'Kenwood Artist Series Cabernet Sauvignon', 'grape_type': 'Cabernet Sauvignon', 'price': 71.99, 'review': 95}, {'wine_name': 'Clarendon Hills Kangarilla Grenache', 'grape_type': 'Grenache', 'price': 39.99, 'review': 95}, {'wine_name': 'Chateau Branaire-Ducru', 'grape_type': 'Bordeaux', 'price': 74.99, 'review': 95}, {'wine_name': 'Levendi Stagecoach Cabernet Sauvignon', 'grape_type': 'Cabernet Sauvignon', 'price': 57.99, 'review': 95}, {'wine_name': 'Clarendon Hills Hickinbotham Vineyard Syrah', 'grape_type': 'Syrah/Shiraz', 'price': 44.99, 'review': 95}, {'wine_name': 'Bila-Haut by Michel Chapoutier Occultum Lapidem', 'grape_type': 'Rhone Red Blends', 'price': 29.99, 'review': 94}, {'wine_name': 'DAOU Vineyards Cabernet Sauvignon', 'grape_type': 'Cabernet Sauvignon', 'price': 28.99, 'review': 94}, {'wine_name': 'Figgins Estate Red Wine', 'grape_type': 'Bordeaux', 'price': 89.99, 'review': 94}, {'wine_name': 'Billecart-Salmon Brut Rose', 'grape_type': 'Ros√© Sparkling Wine', 'price': 79.99, 'review': 94}, {'wine_name': 'Billecart-Salmon Brut Rose ', 'grape_type': 'Ros√© Sparkling Wine', 'price': 46.99, 'review': 94}, {'wine_name': 'Newton Unfiltered Chardonnay', 'grape_type': 'Chardonnay', 'price': 52.99, 'review': 94}, {'wine_name': 'Browne Family Vineyards Tribute Red Blend', 'grape_type': 'Bordeaux', 'price': 29.99, 'review': 94}, {'wine_name': 'Domaine du Gour de Chaule Gigondas Cuvee Tradition', 'grape_type': 'Rhone Red Blends', 'price': 34.99, 'review': 94}, {'wine_name': 'Chateau Montelena Estate Cabernet Sauvignon', 'grape_type': 'Cabernet Sauvignon', 'price': 114.99, 'review': 94}, {'wine_name': 'Marcarini Barolo Brunate', 'grape_type': 'Nebbiolo', 'price': 55.99, 'review': 94}, {'wine_name': 'Chateau Fuisse Les Combettes Pouilly-Fuisse', 'grape_type': 'Chardonnay', 'price': 67.99, 'review': 94}, {'wine_name': 'Yalumba Museum Reserve Muscat ', 'grape_type': 'Other Dessert', 'price': 18.99, 'review': 94}, {'wine_name': 'Groth Reserve Cabernet Sauvignon', 'grape_type': 'Cabernet Sauvignon', 'price': 99.0, 'review': 94}, {'wine_name': 'Massolino Barolo', 'grape_type': 'Nebbiolo', 'price': 48.99, 'review': 94}, {'wine_name': 'Col Solare', 'grape_type': 'Bordeaux', 'price': 78.99, 'review': 94}, {'wine_name': 'Brokenwood Semillon', 'grape_type': 'Semillon', 'price': 19.99, 'review': 94}, {'wine_name': 'Chateau Magdelaine', 'grape_type': 'Bordeaux', 'price': 79.99, 'review': 94}, {'wine_name': 'Tikal Jubilo', 'grape_type': 'Bordeaux', 'price': 39.99, 'review': 94}, {'wine_name': 'Torbreck The Steading', 'grape_type': 'Rhone Red Blends', 'price': 39.99, 'review': 94}, {'wine_name': 'Pahlmeyer Napa Valley Proprietary Red', 'grape_type': 'Bordeaux', 'price': 139.99, 'review': 94}, {'wine_name': 'SonVida Malbec', 'grape_type': 'Malbec', 'price': 27.99, 'review': 94}, {'wine_name': 'Yalumba Barossa Patchwork Shiraz', 'grape_type': 'Syrah/Shiraz', 'price': 19.99, 'review': 94}, {'wine_name': 'Hamilton Russell Pinot Noir', 'grape_type': 'Pinot Noir', 'price': 46.99, 'review': 94}, {'wine_name': 'Bodegas Castano Solanera', 'grape_type': 'Other Red Blends', 'price': 15.99, 'review': 94}]

In [10]:
#Try to Create Alcohol Content part
df.head()

,_id,brand_name,food_pairing,grape_type,lower_alcohol,price,review,upper_alcohol,wine_type
0,5c08a3a84fe110092c72eb17,Yalumba Antique Reserve Tawny Port,Chocolate and Caramel,Port,19,19.99,92,19,Dessert
1,5c08a3a84fe110092c72eb18,Taylor Fladgate 10 Year Old Tawny,Chocolate and Caramel,Port,20,29.99,93,20,Dessert
2,5c08a3a84fe110092c72eb19,Yalumba Museum Reserve Muscat,Chilis and Hot Spicy Foods,Other Dessert,18,18.99,94,18,Dessert
3,5c08a3a94fe110092c72eb1a,Taylor Fladgate 20 Year Old Tawny,Chocolate and Caramel,Port,19,51.99,95,20,Dessert
4,5c08a3a94fe110092c72eb1b,Quinta do Noval Noval Black,Chocolate and Caramel,Port,19,17.99,91,20,Dessert

In [11]:
df["lower_alcohol"].unique()

array([19, 20, 18, 13, 12, 14, 15, 16,  5, 10, 11,  9, 17,  8],
      dtype=int64)

In [ ]:
wine_name = list(df["brand_name"])
grape_type = list(df["grape_type"])
review = list(df["lower_alcohol"])

data = []
i=0

while i < len(wine_name):
    wine_info = {
                "wine_name": wine_name[i],
                "grape_type": grape_type[i],
                "price": price[i],
                "review": review[i]
                }
    data.append(wine_info)
    i +=1